---
language: ruby
sudo: false
cache: bundler
bundler_args: --without yard guard benchmarks
before_install:
  - "gem update --system"
  - "gem update bundler"
script: "bundle exec rake ci"
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - ruby-head
  - jruby-9000
  - jruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true
branches:
  only: master
notifications:
  email: false
