---
install:
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - gem install bundler -v '< 2.0'
  - bundle install
before_test:
  - ruby -v
  - gem -v
  - bundle -v
build: off
test_script:
  - bundle exec rake ci
environment:
  matrix:
    - ruby_version: "200"
    - ruby_version: "200-x64"
    - ruby_version: "21"
    - ruby_version: "21-x64"
    - ruby_version: "22"
    - ruby_version: "22-x64"
    - ruby_version: "23"
    - ruby_version: "23-x64"
    - ruby_version: "24"
    - ruby_version: "24-x64"
    - ruby_version: "25"
    - ruby_version: "25-x64"
    - ruby_version: "26"
    - ruby_version: "26-x64"
