require "test_helper"

class <%= cmd_object_parts.join('::') %>Test < Minitest::Test
  def executes_the_command_successfully
    output = `<%= app_name_underscored %> <%= cmd_name_underscored %>`
    assert_equal "EXPECTED", output
  end
end
