<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TTY components</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/app-84fb41e6e45f715735cda163d6e7ef8bad8c30c5c7f03737321598724d8b55e5.css" />
    <!-- google analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31255537-2', 'ttytoolkit.org');
  ga('send', 'pageview');
</script>

  </head>

  <body>
    <div class="banner"></div>
    <input type="checkbox" id="toggle" class="nav-checkbox" />
<label for="toggle" class='nav-toggle'>
  <div class='nav-toggle__name'>Menu</div>
  <div class='nav-toggle__burger'>&#9776;</div>
</label>
<nav role="navigation">
  <ul class="nav-menu">
    <li class="nav-menu__item "><a href="/">Home</a></li>

    <li class="nav-menu__item nav-menu__item-active"><a href="/components/">Components</a></li>

    <li class="nav-menu__item "><a href="/projects/">Projects</a></li>

    <li class='nav-menu__item more' id='dropdown-button'>
      <input type="checkbox" id="dropdown-toggle" class="dropdown-checkbox" />
      <label for="dropdown-toggle" class='dropdown-toggle'>Docs</label>

      <nav class='nav-dropdown' role="navigation">
        
        <ul class='nav-dropdown-menu'>
          <li class='nav-dropdown-menu__item'>
            <ul>
              
                <li><a href="http://www.rubydoc.info/gems/pastel">pastel</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-box">tty-box</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-color">tty-color</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-command">tty-command</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-config">tty-config</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-cursor">tty-cursor</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-editor">tty-editor</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-file">tty-file</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-font">tty-font</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-logger">tty-logger</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-markdown">tty-markdown</a></li>
              
            </ul>
          </li>
          <li class='nav-dropdown-menu__item'>
            <ul>
              
                <li><a href="http://www.rubydoc.info/gems/tty-pager">tty-pager</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-pie">tty-pie</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-platform">tty-platform</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-progressbar">tty-progressbar</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-prompt">tty-prompt</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-reader">tty-reader</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-screen">tty-screen</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-spinner">tty-spinner</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-table">tty-table</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-tree">tty-tree</a></li>
              
                <li><a href="http://www.rubydoc.info/gems/tty-which">tty-which</a></li>
              
            </ul>
          </li>
        </ul>
      </nav>
    </li>

    <li class="nav-menu__item"><a href="https://gitter.im/piotrmurach/tty">Chat</a></li>
    <!-- <li class="nav-link"><a href="blog/">Blog</a></li> -->
  </ul>
</nav>


    <div class='plugins-wrapper'>
  <div class='section-heading'>
    <h1 class='section-heading__heading'>TTY components</h1>

    <p class='section-heading__subhead'>Browse all the components from the tty ecosystem</p>
  </div>

  <p class='section-explanation'>Each component can be installed independently,<br/> so you can mix and match what your terminal app needs.</p>

  <section class="plugins-section page-block">
    <dl class='plugins-list'>
      
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/pastel">pastel</a></dt>
        <dd class='plugins-list__desc '>Terminal strings styling with intuitive and clean API.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-box">tty-box</a></dt>
        <dd class='plugins-list__desc '>Draw various frames and boxes in your terminal interface.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-color">tty-color</a></dt>
        <dd class='plugins-list__desc '>Terminal color capabilities detection.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-command">tty-command</a></dt>
        <dd class='plugins-list__desc '>Execute shell commands with pretty logging.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-config">tty-config</a></dt>
        <dd class='plugins-list__desc '>Define, read and write any Ruby app configurations with a penchant for terminal clients.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-cursor">tty-cursor</a></dt>
        <dd class='plugins-list__desc '>Move terminal cursor around.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-editor">tty-editor</a></dt>
        <dd class='plugins-list__desc '>Opens a file or text in the user's preferred editor.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-file">tty-file</a></dt>
        <dd class='plugins-list__desc '>File and directory manipulation utility methods.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-font">tty-font</a></dt>
        <dd class='plugins-list__desc '>Write text in large stylized characters using a variety of terminal friendly fonts.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-logger">tty-logger</a></dt>
        <dd class='plugins-list__desc '>A readable, structured and beautiful logging for the terminal</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-markdown">tty-markdown</a></dt>
        <dd class='plugins-list__desc '>Convert a markdown document or text into a terminal friendly output.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-pager">tty-pager</a></dt>
        <dd class='plugins-list__desc '>Terminal output paging in a cross-platform way.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-pie">tty-pie</a></dt>
        <dd class='plugins-list__desc '>Draw pie charts in your terminal window.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-platform">tty-platform</a></dt>
        <dd class='plugins-list__desc '>Detecting different operating systems.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-progressbar">tty-progressbar</a></dt>
        <dd class='plugins-list__desc '>A flexible progress bars drawing in terminal emulators.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-prompt">tty-prompt</a></dt>
        <dd class='plugins-list__desc '>A beautiful and powerful interactive command line prompt.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-reader">tty-reader</a></dt>
        <dd class='plugins-list__desc '>A set of methods for processing keyboard input in character, line and multiline modes.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-screen">tty-screen</a></dt>
        <dd class='plugins-list__desc '>Terminal screen properties detection.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-spinner">tty-spinner</a></dt>
        <dd class='plugins-list__desc '>A terminal spinner for tasks with non-deterministic time.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-table">tty-table</a></dt>
        <dd class='plugins-list__desc '>A flexible and intuitive table output generator.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-tree">tty-tree</a></dt>
        <dd class='plugins-list__desc '>Print directory or structured data in a tree like format.</dd>
      
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/tty-which">tty-which</a></dt>
        <dd class='plugins-list__desc plugins-list__desc-last'>Platform independent implementation of Unix which command.</dd>
      
    </dl>
  </section>
</div>


    <footer class="footer-wrapper" role="contentinfo">
  <div class="contact">
    <p>
      <a href="http://twitter.com/piotr_murach/" target="_blank" title="Follow Piotr Murach on Twitter" class='icon'><i class='fab fa-twitter'></i></a>
      <a href="http://github.com/piotrmurach/" target="_blank" title="Follow Piotr Murach on GitHub" class='icon'><i class='fab fa-github-alt'></i></a>
      <a href="https://uk.linkedin.com/pub/piotr-murach/24/96b/1a8" target="_blank" title="Connect with Piotr Murach on Linkedin" class='icon'><i class='fab fa-linkedin-in'></i></a>
      <a href="https://www.patreon.com/piotrmurach" target="_blank" title="Become a patron" class='icon'><i class='fab fa-patreon'></i></a>
    </p>
  </div>
  <div class="contact">
    <p>Copyright &copy; 2019 Crafted with <i class='fas fa-heart'></i> by <a href="" target="_blank">Piotr Murach</a>, logo by <a href="https://twitter.com/fidgitaldesign" target="_blank">Martin Davies</a></p>
  </div>
</footer>

  </body>
</html>
