require '<%= cmd_path %>'

RSpec.describe <%= object = (cmd_object_parts - [subcmd_name_constantinized]).join('::') %> do
  it "executes `<%= cmd_name_underscored %>` command successfully" do
    output = StringIO.new
    <%- cmd_options.each do |option| -%>
    <%= option %> = <%= option == 'options' ? {} : 'nil' %>
    <%- end -%>
    command = <%= object %>.new(<%= cmd_options.join(', ') %>)

    command.execute(out: output)

    expect(output.string).to eq("OK\n")
  end
end
