require '<%= subcmd_path %>'

RSpec.describe <%= object = cmd_object_parts.join('::') %> do
  it "executes `<%= subcmd_name_underscored %>` command successfully" do
    output = StringIO.new
    <%- cmd_options.each do |option| -%>
    <%= option %> = <%= option == 'options' ? {} : 'nil' %>
    <%- end -%>
    command = <%= object %>.new(<%= cmd_options.join(', ') %>)

    command.execute(output: output)

    expect(output.string).to eq("OK\n")
  end
end
