RSpec.describe <%= (cmd_object_parts - [subcmd_name_constantinized]).join('::') %> do
  it "executes `<%= cmd_name_underscored %>` command successfully" do
    output = `<%= app_name_underscored %> <%= cmd_name_underscored %>`
    expect(output).to eq(nil)
  end
end
